<section class="form1body">
    <h1 class="addressform1 text-center">User Registered</h1>
    <h4 class="addressform1 text-center">UseId:<%=InternalId%> </h4>
    <a href="/dashboard"><button class=getstarted><span>Go to Dashboard</span></button></a>
 </section>
